html,body{
    height: 100%;
}

ul#flex-container{
    list-style-type: none;
    margin: 0;
    padding: 0;

    /*flex*/
    display: flex;
    /*flex-direction: column;*/
    /*flex-direction: row;*/
    /*flex-direction: row-reverse;*/
    /*flex-wrap: nowrap;!*Do not wrap any element on too the next row*!*/
    flex-wrap: wrap;/*Do wrap any element on too the next row*/
}

ul li{
    height: 150px;
    width: 150px;
    padding-top: 45px;
    color: #fff;
    font-weight: bold;
    font-size: 2.2em;
    text-align: center;

    /*flex*/
    flex-grow: 1; /*make every component to occupy the whole space*/
}

ul li:first-child {background: #c2d775;}
ul li:nth-child(2) {background: #007278;}
ul li:nth-child(3) {background: #c7b600;flex-grow: 2;} /*adding flex grow to a single component*/
ul li:nth-child(4) {background: #a90077; }
ul li:nth-child(5) {background: #00a378;flex-grow: 2;} /*adding flex grow to a single component*/
ul li:last-child {background: #00ea72;order: 1;}
