html, body {
    height: 100%;
    background: #1c1c1c;
}

a:hover {
    color: gray;
}

header {
    display: flex;
    background: #000;
    padding-top: 18px;
    justify-content: space-around;
    flex-flow: row wrap;
}

.child {
    flex-grow: 1;
}

ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    width: 400px;
    margin: 0;
    padding: 0;
}

ul li {
    flex-grow: 1;
    text-align: center;
    width: 100px;
}

ul li a {
    color: #fff;
    font-size: .9em;
    text-transform: uppercase;
}

/* Reference the first div within the header */
header div:nth-child(1) {
    flex-grow: 8;
    width: 125px;
    padding-bottom: 15px;
}

/* Reference the first image on the div -logo */
header div:nth-child(1) img {
    margin-left: 20px;
}

